---
import { Icon } from 'astro-icon';

---
<div>
	<footer class="border-t border-gray-200 dark:border-slate-800">
		<ul class="flex justify-center items-center">
			<li>
				<a
					class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
					aria-label="Twitter"
					href="https://twitter.com/rgeekuk"
				>
					<Icon name="tabler:brand-twitter" class="w-5 h-5" />
				</a>
			</li>
			<li>
				<a
					class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
					aria-label="Instagram"
					href="https://www.instagram.com/ramblinggeek/"
				>
					<Icon name="tabler:brand-instagram" class="w-5 h-5" />
				</a>
			</li>
			<li>
				<a
					class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
					aria-label="RSS"
					href="/rss.xml"
				>
					<Icon name="tabler:rss" class="w-5 h-5" />
				</a>
			</li>
			<li>
				<a
					class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
					aria-label="Github"
					href="https://github.com/ramblinggeekuk"
				>
					<Icon name="tabler:brand-github" class="w-5 h-5" />
				</a>
			</li>
			<li>
				<a
					class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
					aria-label="Twitch"
					href="https://www.twitch.tv/ramblinggeek"
				>
					<Icon name="tabler:brand-twitch" class="w-5 h-5" />
				</a>
			</li>
		</ul>			
	</footer>
</div>