---
import Picture from '~/components/core/Picture.astro';

var startYear = new Date(1995,5,9);
var today = new Date();

var yearsDiff = today.getFullYear() - startYear.getFullYear();
---

<section>
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-12 md:py-20">
			<div class="text-center">
				<h1 class="text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-4 font-heading">
					Hello, I'm Wayne.
				</h1>
				<div class="max-w-3xl mx-auto">
					<p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
						I have been working in IT industry for the last {yearsDiff} years.
						<br>
						Recently I moved into a development role.
					</p>
				</div>
			</div>
			<div>
				<div class="relative mb-8 m-auto max-w-3xl">
					<Picture
						src={import('~/assets/images/rg-hero-tp.png')}
						widths={[1152, 720]}
						sizes=" (max-width: 767px) 400px, 768px"
						alt="Hero Image"
						aspectRatio="16:9"
					/>
				</div>
			</div>
		</div>
	</div>
</section>
